@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(204, 204, 204, 0.884);
}


/* From uiverse.io by @satyamchaudharydev */
.loader {
  --clr: #3498db;
  /* color of spining  */
  width: 40px;
  height: 40px;
  position: relative;
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 90%;
  height: 90%;
  border-radius: 90%;
  border: 7px solid transparent;
  border-top-color: var(--clr);
 }
 
 .loader:before {
  z-index: 100;
  animation: spin 1s infinite;
 }
 
 .loader:after {
  border: 7px solid #ccc;
 }
 
 @keyframes spin {
  0% {
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
  }
 
  100% {
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
  }
 }

 /* From uiverse.io by @gagan-gv */
.spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }
